<html>
  <head>
    <link rel="stylesheet" href="signup.css">
  </head>

  <body>
    <div class="child-a">
      <h3 class="text-title">新規登録</h3>
    </div>

    <%= form_with model: @user, url: user_registration_path, method: :post, class: 'registration-up', local: true do |f| %>
      
      <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">お名前(全角)</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='input-name-wrap'>
          <%= f.text_area :last_name, class:"input-name", id:"last-name", placeholder:"例) 山田" %>
          <%= f.text_area :first_name, class:"input-name", id:"first-name", placeholder:"例) 太郎" %>
        </div>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">お名前カナ(全角)</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='input-name-wrap'>
          <%= f.text_area :last_kana, class:"input-name", id:"last-name-kana", placeholder:"例) ヤマダ" %>
          <%= f.text_area :first_kana, class:"input-name", id:"first-name-kana", placeholder:"例) タロウ" %>
        </div>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">メールアドレス</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">パスワード</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
        <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">パスワード(確認)</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
      </div>
      <%= f.submit "新規登録" ,class:"register-btn" %>
    <% end %>
  </body>
</html>