<%= render "tops/a-header" %>

<%= form_with model: @task, url: tasks_path, method: :post, class: 'form' do |f| %>
  <%= f.label :日付を選択, class: 'lavel' %>
  <%= f.date_field :date, class: 'date-select' %>
  <%= f.label :予定を入力, class: 'lavel' %>
  <%= f.text_field :task, class: 'text-input' %>
  <%= f.submit '保存' %>
<% end %>

<div class=calendar>
  <% @week_days.each do |day| %>
    <div class='item'>
      <div class='date'>
        <%= day[:month] %>/<%= day[:date] %> <%= day[:wday]%>
      </div>
      <ul class='content'>
      <% if day[:tasks].length != 0 %>
        <% day[:tasks].each do |task| %>
          <li class='plan-list'><%= task %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>