<%= render "tops/a-header" %>

<%= form_with model: @task, url: tasks_path, method: :post, class: 'form' do |f| %>
  <%= f.hidden_field :redirect, :value => 0, class: 'lavel' %>
  <%= f.label :顧客を選択, class: 'lavel' %>
  <%= f.collection_select :client_id, current_user.clients.all, :id, :last_name ,
    {prompt: "---"}, {class: "client-select"} %>
  <%= f.label :日付を選択, class: 'lavel' %>
  <%= f.date_field :date, class: 'date-select' %>
  <%= f.label :予定を入力, class: 'lavel' %>
  <%= f.text_field :task, class: 'text-input' %>
  <%= f.submit '保存', class: 'btn-m' %>
<% end %>


<div class=calendar>
  <% @week_days.each do |day| %>
    <div class='item'>
      <div class='date'>
        <%= day[:month] %>/<%= day[:date] %> <%= day[:wday]%>
      </div>
      <ul class='content'>
        <% if day[:tasks].length != 0 %>
          <% day[:tasks].zip(day[:ids]).each do |task, ids| %>
            <% @c = Client.find_by(id: ids) %>
            <li class='plan-list'><%= "#{@c.last_name}様: "%><%= task %><%= @re %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='item'>
    <div class='content'>完了済みタスク</div>
  </div>
</div>