<%= render "tops/a-header" %>

<%= form_with model: @task, url: tasks_path, method: :post, class: 'form', local: true do |f| %>
  <table>
    <%= f.hidden_field :redirect, :value => 0, class: 'lavel' %>
    <%= f.label :顧客を選択, class: 'lavel' %>
    <%= f.collection_select :client_id, current_user.clients.all, :id, :last_name ,
      {prompt: "---"}, {class: "client-select"} %>
    <%= f.label :日付を選択, class: 'lavel' %>
    <%= f.date_field :date, class: 'date-select' %>
    <%= f.label :予定を入力, class: 'lavel' %>
    <%= f.text_field :task, class: 'text-input' %>
    <%= f.submit '保存', class: 'btn-m' %>
  </table>
<% end %>


<div class=calendar>
  <% @week_days.each do |day| %>
    <div class='item'>
      <div class='date'>
        <%= day[:month] %>/<%= day[:date] %> <%= day[:wday]%>
      </div>
      <ul class='content'>
        <% if day[:tasks].length != 0 %>
          <% day[:tasks].zip(day[:ids]).each do |task, ids| %>
            <% @c = Client.find_by(id: ids) %>
              <% if @c.user_id == current_user.id %>
                <li class='plan-list'>
                  <%=link_to client_path(@c.id), method: :get, class:"c-link" do %>
                  <%= "#{@c.last_name}様 : "%>
                <% end %>
                <%= task %>
                </li>
              <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<%= link_to 'タスク一覧', tasks_path, method: :get, class: "btn-l" %>