<div class="parent">
  <%= render "tops/a-header" %>

  <div class="child-a">
    <h2 class="client-name">
      <ruby>
        <%= @client.last_name %><%= " " %><%= @client.first_name %>
        <rt>
          <%= @client.last_kana %><%= " " %><%= @client.first_kana %>
        </rt>
      </ruby>
    </h2>
  </div>

  <div class="child-d">
    <% unless @b_num.nil? %>
      <div class="before-client">
        <%= link_to '前の顧客に戻る', client_path(id: @before_client.id), method: :get, class: "btn-c" %>
      </div>
    <% else%>
      <div class="blank"><%= ""%></div>
    <% end %>
    <div class="back-index">
      <%= link_to '一覧に戻る', clients_path, method: :get, class: "btn-d" %>
    </div>
    <% unless @n_num.nil? %>
      <div class="next-client">
        <%= link_to '次の顧客へ進む', client_path(id: @next_client.id), method: :get, class: "btn-c" %>
      </div>
    <% else%>
      <div class="blank"><%= "" %></div>
    <% end %>
  </div>

  <div class="child-c">
    <ul class="standard-info">
      <li class="info-box">
          <div class="value-name"><%= "電話番号:"%></div>
          <div class="info-value"><%= @client.phone_num %></div>
      </li>
      <li class="info-box">
          <div class="value-name"><%= "メールアドレス:"%></div>
          <div class="info-value"><%= @client.email %></div>
      </li>
      <li class="info-box">
        <div class="value-name"><%= "生年月日:"%></div>
        <% if @client.birthday? %>
          <div class="info-value"><%= @client.birthday %></div>
        <% end %>
      </li>
      <li class="info-box">
        <div class="value-name"><%= "郵便番号:"%></div>
        <% if @client.post_num? %>
          <div class="info-value"><%= @client.post_num %></div>
        <% end %>
      </li>
      <li class="info-box">
        <div class="value-name"><%= "都道府県:"%></div>
        <% if @client.prefecture? %>
         <div class="info-value"><%= @client.prefecture %></div>
        <% end %>
      </li>
      <li class="info-box">
        <div class="value-name"><%= "市区町村:"%></div>
        <% if @client.city? %>
         <div class="info-value"><%= @client.city %></div>
        <% end %>
      </li>
      <li class="info-box">
        <div class="value-name"><%= "番地:"%></div>
        <% if @client.details? %>
          <div class="info-value"><%= @client.details %></div>
        <% end %>
      </li>
      <li class="info-box">
        <div class="value-name"><%= "建物名:"%></div>
        <% if @client.build_num? %>
          <div class="info-value"><%= @client.build_num %></div>
        <% end %>
      </li>
    </ul>

    <ul class="standard-info">
      <% unless @form.nil? %>
        <li class="info-box">
          <div class="value-name"><%= "#{@form.f_name1}" %></div>
          <div class="colon"><%= ":"%></div>
          <% unless @addinfo.nil? %>
            <% if @addinfo.client_id == @client.id %>
              <div class="info-value"><%= @addinfo.add_text1 %></div>
            <% end %>
          <% end %>
        </li>
        <li class="info-box">
          <div class="value-name"><%= "#{@form.f_name2}" %></div>
          <div class="colon"><%= ":"%></div>
          <% unless @addinfo.nil? %>
            <% if @addinfo.client_id == @client.id %>
              <div class="info-value"><%= @addinfo.add_text2 %></div>
            <% end %>
          <% end %>
        </li>
        <li class="info-box">
          <div class="value-name"><%= "#{@form.f_name3}" %></div>
          <div class="colon"><%= ":"%></div>
          <% unless @addinfo.nil? %>
            <% if @addinfo.client_id == @client.id %>
              <div class="info-value"><%= @addinfo.add_text3 %></div>
            <% end %>
          <% end %>
        </li>
        <li class="info-box">
          <div class="value-name"><%= "#{@form.f_name4}" %></div>
          <div class="colon"><%= ":"%></div>
          <% unless @addinfo.nil? %>
            <% if @addinfo.client_id == @client.id %>
              <div class="info-value"><%= @addinfo.add_text4 %></div>
            <% end %>
          <% end %>
        </li>
        <li class="info-box">
          <div class="value-name"><%= "#{@form.f_name5}" %></div>
          <div class="colon"><%= ":"%></div>
          <% unless @addinfo.nil? %>
            <% if @addinfo.client_id == @client.id %>
              <div class="info-value"><%= @addinfo.add_text5 %></div>
            <% end %>
          <% end %>
        </li>
        <li class="info-box">
          <div class="value-name"><%= "#{@form.f_name6}" %></div>
          <div class="colon"><%= ":"%></div>
          <% unless @addinfo.nil? %>
            <% if @addinfo.client_id == @client.id %>
              <div class="info-value"><%= @addinfo.add_text6 %></div>
            <% end %>
          <% end %>
        </li>
        <li class="info-box">
          <div class="value-name"><%= "#{@form.f_name7}" %></div>
          <div class="colon"><%= ":"%></div>
          <% unless @addinfo.nil? %>
            <% if @addinfo.client_id == @client.id %>
              <div class="info-value"><%= @addinfo.add_text7 %></div>
            <% end %>
          <% end %>
        </li>
        <li class="info-box">
          <div class="value-name"><%= "#{@form.f_name8}" %></div>
          <div class="colon"><%= ":"%></div>
          <% unless @addinfo.nil? %>
            <% if @addinfo.client_id == @client.id %>
              <div class="info-value"><%= @addinfo.add_text8 %></div>
            <% end %>
          <% end %>
        </li>
        <li class="info-box">
          <div class="value-name"><%= "#{@form.f_name9}" %></div>
          <div class="colon"><%= ":"%></div>
          <% unless @addinfo.nil? %>
            <% if @addinfo.client_id == @client.id %>
              <div class="info-value"><%= @addinfo.add_text9 %></div>
            <% end %>
          <% end %>
        </li>
        <li class="info-box">
          <div class="value-name"><%= "#{@form.f_name10}" %></div>
          <div class="colon"><%= ":"%></div>
          <% unless @addinfo.nil? %>
            <% if @addinfo.client_id == @client.id %>
              <div class="info-value"><%= @addinfo.add_text10 %></div>
            <% end %>
          <% end %>
        </li>
      <% end%>
    </ul>
  </div>

  <div class="btn-box">
    <div class="edit-standard">
      <%= link_to '編集', edit_client_path(@client), method: :get, class: "btn-j" %>
    </div>
    <% if @judg_f == false %>
      <%= link_to '追加フォームの作成', new_form_path(:client_info => @client), method: :get, class: "btn-l" %>
    <% elsif @judg_f == true %>
      <%= link_to 'フォーム名の編集', edit_form_path(@form.id, :client_info => @client), method: :get, class: "btn-i" %>
      <% if @judg_i == false %>
        <%= link_to '追加情報の入力', new_addinfo_path(:client_info => @client), method: :get, class: "btn-i" %>
      <% elsif @judg_i == true %>
        <%= link_to '追加情報の編集', edit_addinfo_path(@addinfo.id, :client_info => @client), method: :get, class: "btn-i" %>
      <% end %>
    <% end %>
  </div>
  <div class="task-form">
    <div class="child-e">
      <%= form_with model: @task, url: tasks_path, method: :post, class: 'form', local: true do |f| %>
        <table>
          <%= f.hidden_field :redirect, :value => 1 , class: 'lavel' %>
          <%= f.hidden_field :client_id, :value => @client.id %>
          <%= f.label :日付を選択, class: 'lavel' %>
          <%= f.date_field :date, class: 'date-select' %>
          <%= f.label :予定を入力, class: 'lavel' %>
          <%= f.text_field :task, class: 'text-input' %>
          <%= f.submit '保存', class: 'btn-m' %>
        </table>
      <% end %>
    
      <div class=shows-calendar>
        <% @week_days.each do |day| %>
          <div class='shows-item'>
            <div class='date'>
              <%= day[:month] %>/<%= day[:date] %> <%= day[:wday]%>
            </div>
            <ul class='content'>
              <% if day[:tasks].length != 0 %>
                <% day[:tasks].zip(day[:ids]).each do |task, ids| %>
                  <% if @client.id == ids %>
                    <li class='plan-list'><%= task %></li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="btn-box-b">
        <%= link_to '今週のタスク', new_task_path, method: :get, class: "btn-p" %>
        <%= link_to 'タスク一覧', tasks_path, method: :get, class: "btn-p" %>
      </div>
    </div>
    </div>
  </div>
</div>